<!DOCTYPE html>
<html>    
    <head>
    <link rel="stylesheet" type="text/css" href="css/homepage_style.css">
    <link rel="stylesheet" type="text/css" href="css/accountInfo.css">  
    <title>Account Information</title>
    <%= erb :header %>
    <body>
        <main>
            <div class="informationBar">
                <img src="imgs/service.png" href="imgs/service.png">
				<p>Account Details</p>
                <br>
            </div>
            <form action="changeinfo" method = "post">
                <table>
                    <tr>
                        <th>Twitter Handle:</th>
                            <td><input type="text" name="username" value="<%=h @user_handle %>"></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                            <td><input type="text" name="password" value="<%=h @user_pass %>"></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><input type="text" name="email" value="<%=h @user_email %>"></td>
                        </tr>
                    </table>
                <input type="submit" value="Edit">
            </form>
                        
			<!-- history part -->
            <% unless @rideHistory.nil? %>
                <% if @rideHistory.length == 0 %>
                    <p> You have no previous rides on record. </p>
                <% else %>
                    <div id="thediv">
                        <p style="text-align: center; width:82%;">Your Ride History</p>
                        <table class="table2">
                            <tr align="center">
                                <th width="440" class="table2">Time</th>
                                <th width="200" class="table2">Driver</th>
                                <th width="200" class="table2">Start Location</th>
                                <th width="200" class="table2">End Location</th>
                                <th width="150" class="table2">Price</th>
                            </tr>
                            <% @rideHistory.each do |record| %>
                                <tr align="center">
                                    <td class="table2"> <%=h record[0]%> from  <%=h record[1]%> to <%=h record[2]%></td>
                                    <td class="table2">
                                            <a href=" driver.user.uri " target="_blank">
                                            <%=h record[5]%>
                                        </a>
                                    </td>
                                    <td class="table2"> <%=h record[3]%> </td>
                                    <td class="table2"> <%=h record[4]%> </td>
                                    <td class="table2"> <%=h record[6]%> pounds</td>
                                </tr>
                            <% end %>
                        </table>
                        <br />
                    </div>
                <% end %>
            <% end %>
        </main>
    </body>
        <%= erb :footer %>            
    