<!DOCTYPE html>
<html>
    
    <head>
        
        <title>Account Information</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!-- homepage_layout.css -->
        <link rel="stylesheet" type="text/css" href="css/homepage_style.css">
        <!-- accountInfo.css -->
        <link rel="stylesheet" type="text/css" href="css/accountInfo.css">                         
    </head>

    
    <%= erb :header %>
    <body>
        <main>
            <div class="informationBar">
                <img src="imgs/service.png" href="imgs/service.png">
				<p>Account Details</p>
                <br>
            </div>
            <form action="changeinfo" method = "post">
                <table>
                    <tr>
                        <th>Twitter Handle:</th>
                            <td><input type="text" name="username" value="<%=h @user_handle %>"></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                            <td><input type="text" name="password" value="<%=h @user_pass %>"></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><input type="text" name="email" value="<%=h @user_email %>"></td>
                        </tr>
                    </table>
                <input type="submit" value="Edit">
            </form>
                        
			<!-- history part -->
			<div id="thediv">
                <p style="text-align: center; width:82%;">Your Ride History</p>
				<table class="table2">
					<tr align="center">
						<th width="120" class="table2">Time</th>
						<th width="600" class="table2">Driver</th>
						<th width="200" class="table2">Start Location</th>
						<th width="200" class="table2">End Location</th>
					</tr>
					<tr align="center">
						<td class="table2">
							 history.Time
						</td>
						<td class="table2">
							<a href=" driver.user.uri " target="_blank">
								history.drivername
							</a>
						</td>
						<td class="table2">
							 history.startLocation 
						</td>
						<td class="table2">
							 history.endLocation 
						</td>
					</tr>
				</table>
				<br />

			</div>
        </main>
    </body>
        <%= erb :footer %>            
    