        <%= erb :header %>
        <h1>Database Updates</h1>
		<button type="button" id="addT">Add taxi</button>
		<button type="button" id="removeT">Remove taxi</button>
		<button type="button" id="updateT">Update taxi</button>
		<button type="button" id="updatePr">Update Prices</button>
		<button type="button" id="unban">Un-ban</button>
		<button type="button" id="updateE">Update email</button>
		<button type="button" id="updatePa">Update password</button>
		<button type="button" id="addA">Add admin</button>
		<button type="button" id="removeA">Remove admin</button>
		
		
		<form name="form">
			<label id="labelOne">Input</label>
			<input id="inputOne" type="Text">
			<br>
			<label id="labelTwo">Input</label>
			<input id="inputTwo" type="Text">
			<br>
			<label id="labelThree">Input</label>
			<input id="inputThree" type="Text">
			<br>
			<label id="labelFour">Input</label>
			<input id="inputFour" type="Text">
			<br>
            <label id="labelFive">Input</label>
            <input id="inputFive" type="Text">
            <br>
			<input type="submit" value="Submit">
		</form>
        
        
        <table id="carTable">
            <tr>
                <th>Reg</th>
                <th>Type</th>
                <th>Seats</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <% @car_results.each do |car| %>
                <tr>
                    <td>
                        <%= car[0] %>
                    </td>
                    <td>
                        <%= car[1] %>
                    </td>
                    <td>
                        <%= car[2] %>
                    </td>
                    <td>
                         <%= car[3] %>
                    </td>
                    <td>
                        <%= car[4] %>
                    </td>
                </tr>
            <% end %>
        </table>
        
        <table id="misuseTable">
            <tr>
                <th>Twitter Handle</th>
                <th>Count</th>
                <th>Banned</th>
            </tr>
            <% @misuse_results.each do|mis| %>
                <tr>
                    <td>
                        <%= mis[0] %>
                    </td>
                    <td>
                        <%= mis[1] %>
                    </td>
                    <td>
                        <% if(mis[3] == 0) %>
                            Not banned
                        <% else %>
                            Bannned
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
        
        <table id="adminTable">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Area</th>
            </tr>
            <% @admin_results.each do|ad| %>
                <tr>
                    <td>
                        <%= ad[0] %>
                    </td>
                    <td>
                        <%= ad[1] %>
                    </td>
                    <td>
                        <%= ad[2] %>
                    </td>
                    <td>
                        <%= ad[3] %>
                    </td>
                    <td>
                        <%= ad[4] %>
                    </td>
                </tr>
            <% end %>
        </table>
	</body>
</html>