<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/admin_section.css">
        <script src="js/table_menu.js"></script>
        <title>Administrator Access</title>
        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        <%= erb :header %>
        <h1>Administrator System</h1>
        <form method="get">
            Search:<input type="text" name="search" value="<%=h params[:search] %>"/>
            <input type="submit" name="submit" value="Update"/>
        </form>
        <br />
        <% unless @tweets.nil? %>
            <% if @tweets.length == 0 %>
                <p>No tweets found.</p>
            <% else %>
                <br />
                <table id="searchTable">
                    <tr>
                        <th width="120">User</th>
                        <th width="600">Tweet</th>
                        <th width="200">Time</th>
                        <th>Options</th>
                    </tr>
                    <% @tweets.each do |tweet| %>
                        <tr>
                            <td>
                                <a href="<%= tweet.user.uri %>" target="_blank">
                                    <%= tweet.user.screen_name %>
                                </a>
                            </td>
                            <td>
                                <%= tweet.text %>
                            </td>
                            <td>
                                <%= tweet.created_at %>
                            </td>
                            <td align="center">
                                <div id="menu">
                                    <select onchange="menuChange(this)">
                                        <option selected>Select...</option>
                                        <option id="book" value="">Book Ride</option>
                                        <option id="reply" value="<%= tweet.uri %>">Reply (External)</option>
                                        <option id="warn" value="">Apply Warning</option>
                                        <option id="block" value="">Block User</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
        <% end %>
        <div>
            <% unless @car_results.nil? %>  
                <% if @car_results.length == 0 %>
                    <p>No cars found.</p>
                <% else %>
                    <table id="carTable">
                        <tr>
                            <th>Reg.</th>
                            <th>Type</th>
                            <th>No. of Seats</th>
                            <th>Available?</th>
                        </tr>
                        <% @car_results.each do |car| %>
                            <tr>
                                <td>
                                    <%= car[0] %>
                                </td>
                                <td>
                                    <%= car[1] %>
                                </td>
                                <td>
                                    <%= car[2] %>
                                </td>
                                <td>
                                    <% if(car[3] == 0) %>
                                        <form action="">
                                            <input type="radio" name="available" value="free" onChange="makeFree(car[0])" checked>Free<br>
                                            <input type="radio" name="available" value="busy" onChange="makeBusy(car[1])">Busy
                                        </form>
                                    <% else %>
                                        <form action="">
                                            <input type="radio" name="available" value="free" onChange="makeFree(car[0])">Free<br>
                                            <input type="radio" name="available" value="busy" onChange="makeBusy(car[1])" checked>Busy
                                        </form>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
            <% end %>
        </div>
        <br />
    <%= erb :footer %>