<!DOCTYPE html>
<html>    
    <head>
    <title>Administrator Section</title>
    <link rel="stylesheet" type="text/css" href="css/admin_section.css">
    <script src="js/admin_javascript.js"></script>
    <title>Administrator Access</title>
    <%= erb :header %>
    <h1>Administrator System</h1>

        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
            </div>
        <% end %>

        <form method="get" autocomplete="off" id="searchform">
            Search:<input type="text" id="searchbar" name="search" value="<%=h params[:search] %>" required/>
            <input type="submit" name="submit" value="Update"/>
            <% if session[:logged_adminarea] != 'both' %>
                <button onClick="autosearch('<%= @area %>')"><%= @area %></button>
            <% end %>
        </form>

        <div id="bodyDiv">
            <table id="searchTable">
                <tr>
                    <th width="120">User</th>
                    <th width="501.5">Tweet</th>
                    <th width="200">Time</th>
                    <th width="130">Options</th>
                </tr>
                <% unless @tweets.nil? %>
                    <% if @tweets.length == 0 %>                  
                    <% else %>
                        <% @tweets.each do |tweet| %>
                            <tr>
                                <td>
                                    <a href="<%= tweet.user.uri %>" target="_blank">
                                        <%= tweet.user.screen_name %>
                                    </a>
                                </td>
                                <td>
                                    <%= tweet.text %>
                                </td>
                                <td>
                                    <%= tweet.created_at %>
                                </td>
                                <td align="center">
                                    <div id="menu">
                                        <select onchange="menuChange(this)">
                                            <option selected>Select...</option>
                                            <option id="book" value="<%= tweet.user.screen_name %>">Book Ride</option>
                                            <option id="reply" value="<%= tweet.user.screen_name %>,<%= tweet.id %>">Reply</option>
                                            <option id="warn" value="<%= tweet.user.screen_name %>">Apply Warning</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            </table>
            
        <div id="bookingForm">
            <form action="/updateBooking" method="post" autocomplete="off">
                <label for="handleIn">User Handle</label>
                <input type="text" maxLength="15" name="handleIn" id="handleIn" value="<%=h @queryHandle %>" required/><br><br>
                
                <label for="regIn">Car Registration</label>
                <select id="carBooking" onchange="carDropdown(this)">
                    <% @car2.each do |c| %>
                        <option name="regIn" id="regIn" value="<%= c[0] %>"><%= c[0] %></option>
                    <% end %>
                    <input type="text" name="regValue" id="regValue" value="<%= @regValue %>" hidden/>
                </select><br><br>
                
                <label for="startTimeIn">Start Time</label>
                <input type="time" name="startTimeIn" id="startTimeIn" value="<%=h @queryTime %>" required/>
                
                <label for="endTimeIn">End Time</label>
                <input type="time" name="endTimeIn" id="endTimeIn" value=""/><br><br>
                
                <label for="dateIn">Date</label>
                <input type="date" name="dateIn" id="dateIn" value="<%=h @queryDate %>" required/><br><br>
                
                <label for="startPosIn">Start Location</label>
                <input type="text" name="startPosIn" id="startPosIn" value="<%=h @queryStart %>" required/>
                
                <label for="endPosIn">End Location</label>
                <input type="text" name="endPosIn" id="endPosIn" value=""/><br><br>
                
                <label for="priceIn">Price</label>
                <input type="number" step="0.01" name="priceIn" defaultValue="0" id="priceIn" value=""/><br><br>
                
                <input type="submit" name="enterForm" value="Save Booking"/>
                <input type="submit" name="enterForm" value="Complete Booking"/>
                <input type="reset" name="enterForm" value="Clear Form"/>
                <!-- <input type="submit" name="enterForm" value="Cancel Booking"/> -->
            </form>
        </div>
            
        <div>
            <% unless @car_results.nil? %>  
                <% if @car_results.length == 0 %>
                    <p>No cars found.</p>
                <% else %>
                    <table id="carTable">
                        <tr>
                            <th>Reg.</th>
                            <th>Area</th>
                            <th>Type</th>
                            <th>Available?</th>
                        </tr>
                        <% @car_results.each do |car| %>
                            <tr>
                                <td name = "reg" value="<%= car[0] %>">
                                    <%= car[0] %>
                                </td>
                                <td>
                                    <% if car[3].eql? 'Manchester' %>
                                        <p>M</p>
                                    <% else %>
                                        <p>S</p>
                                    <% end %>
                                </td>
                                <td>
                                    <%= car[1] %>
                                </td>
                                <td>
                                    <% if(car[2] == 0) %>
                                        <p id="free">Free</p>
                                    <% else %>
                                    <form action="/admin_section" method="get">
                                        <button type="submit" id="busy" name="busy" value="<%= car[0] %>">Busy</button>
                                    </form>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
            <% end %>
        </div>
            
        <div id="replyform">
            <form action="/reply" method="post">
                <label for="replyhandle">Replying to user:- </label>
                <input type="text" name="replyHandle" id="replyHandle" disabled/><br>
                <input type="text" name="replyID" id="replyID" value="<%=h params[:replyID] %>" hidden/><br>
                <label for="replyText">Response Contents</label><br>
                <textarea id="replyText" name="replyText" value="<%=h params[:replyText] %>" maxLength="280" rows="4" required></textarea><br>
                <input type="submit" name="replyBtn" value="Send Reply"/>
                <input type="reset" name="replyBtn" value="Clear Form"/>
            </form>     
        </div>
            
        <div id="warnBan" style="display: none">
            <form action="/issueWarning" method="post">
                <label id="warnLabel"></label><br>
                <input type="text" id="warnHandle" name="warnHandle" value="<%= params[:warnHandle] %>" hidden/>
                <input type="submit" name="misuseSubmit" value="Warn"/>
                <input type="submit" name="misuseSubmit" value="Ban"/>
            </form>
        </div>
            
        <div id="giveawayform">
            <form id="giveaway" action="/giveaway" method="get">
                <p id="giveawayText">Giveaway Winner Generator!</p><br>
                <label for="replyhandle">Enter the contest phrase here: </label>
                <input type="text" name="prizeTerm" id="prizeTerm" value="<%= params[:prizeTerm] %>" required/>
                <input type="submit" name="randomBtn" value="Choose"/><br>        
            </form>
        </div>
    </div>
    <%= erb :footer %>