<!DOCTYPE html>
<html>    
    <head>
          <title>Create Account</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" href="css/main.css">
          <link rel="stylesheet" href="css/create_account.css">

    </head>
    <body>
        
        <h1>Create Account</h1>
        
        <form action="makeaccount" method="post">       
            <% if @submitted && !@firstname_ok %> 
                <style>input[name=userhandle]::placeholder{color:red;}</style>
            <%end%>
            
            <input type="text" name="userhandle" id="handle"  maxlength="" value="<%=h @firstname if @submitted %>" placeholder="Input Twitter handle..."><br>
            
            <% if @submitted && !@email_ok %>
                <style>input[name=email]::placeholder{color:red;}</style>
            <% end %>
            
            <input type="text" name="email" id="email" value="<%=h @email_address if @submitted %>" placeholder="Input email..."><br>
            
            <% if @submitted && !@password_ok %>
                <style>input[name=password]::placeholder{color:red;}</style>
            <% end %>

            <input type="password" name="password" id="pass"  value="<%=h @password if @submitted %>" placeholder="Input password..." required><br>
            <input type="password" name="repeat_password" id="pass2"  value="" placeholder="Repeat password...." required><br>
            
            <% if @password_c!=@password %>
                <style>input[name=repeat_password],input[name=password]::placeholder{color:red;}</style>
            <%= @password=null %>
            <%= @password_check=null %>
            <% end %>
       
            <input type="submit" value="submit">
            <input type="button" name="logger" value="login page" onclick="window.location.href='/login'">  
            
        </form> 
    </body>
    <%= erb :footer %>
    