<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="./css/personal.css">
        <title>Personal information</title>
    </head>
    
    <body>
        <%= erb :header %>
        <main>
			<form action="changeinfo" method = "post">
				<table>
					<tr>
						<th>Twitter Handle:</th>
						<td><input type="text" name="username" value="<%=h @user_handle %>"></td>
					</tr>
					<tr>
						<th> </th>
						<td> </td>
					</tr>
					<tr>
						<th>Password:</th>
						<td><input type="text" name="password" value="<%=h @user_pass %>"></td>
					</tr>
					<tr>
						<th> </th>
						<td> </td>
					</tr>
					<tr>
						<th>Email:</th>
						<td><input type="text" name="email" value="<%=h @user_email %>"></td>
					</tr>
				</table>
				<br>
				<input type="submit" value="Edit">
			</form>
        </main>
        <%= erb :footer %>            
    