<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/home_layout.css">
        <link rel="stylesheet" type="text/css" href="css/personal.css">
        <title>Personal information</title>
    </head>
    
    <body>
        <%= erb :header %>
        <main>
			<form action="changeinfo" method = "post">
                <div>
					<div class="totalCentre">
						<div class="informationBar">
							<img src="imgs/service.png" href="imgs/service.png">
							<p>Account Details</p>
							<br>
							<p><a href="#" id="link">history</a></p>
						</div>
                        <table>
                            <tr>
                                <th>Twitter Handle:</th>
                                <td><input type="text" name="username" value="<%=h @user_handle %>"></td>
                            </tr>
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                            <tr>
                                <th>Password:</th>
                                <td><input type="text" name="password" value="<%=h @user_pass %>"></td>
                            </tr>
                            <tr>
                                <th> </th>
                                <td> </td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td><input type="text" name="email" value="<%=h @user_email %>"></td>
                            </tr>
                        </table>
                    </div>
				</div>
                <br>
                <input type="submit" value="Edit">
            </form>
            <div id="thediv">
				<table class="table2">
					<tr align="center">
						<th width="120" class="table2">Time</th>
						<th width="600" class="table2">Driver</th>
						<th width="200" class="table2">Start Location</th>
						<th width="200" class="table2">End Location</th>
					</tr>
					<tr align="center">
						<td class="table2">
							history.Time
						</td>
						<td class="table2">
							<a href="" target="_blank">
								history.drivername
							</a>
						</td>
						<td class="table2">
							history.startLocation
						</td>
						<td class="table2">
							history.endLocation
						</td>
					</tr>
				</table>
				<br />
			</div>
        </main>
        <%= erb :footer %>            
    