<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/searchpage.css">
        <script src="js/table_menu.js"></script>
        <title>Incoming Tweets</title>
        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        <h1>Administrator System</h1>
        
        <form method="get">
            Search:<input type="text" name="search" value="<%=h params[:search] %>"/>
            <input type="submit" name="submit" value="Update"/>
        </form>
        <br />
        <% unless @tweets.nil? %>
            <% if @tweets.length == 0 %>
                <p>No tweets found.</p>
            <% else %>
                <br />
                <table>
                    <tr>
                        <th width="120">User</th>
                        <th width="600">Tweet</th>
                        <th width="200">Time</th>
                        <th width="200">Location</th>
                        <th>Options</th>
                    </tr>
                    <% @tweets.each do |tweet| %>
                        <tr>
                            <td>
                                <a href="<%= tweet.user.uri %>" target="_blank">
                                    <%= tweet.user.screen_name %>
                                </a>
                            </td>
                            <td>
                                <%= tweet.text %>
                            </td>
                            <td>
                                <%= tweet.created_at %>
                            </td>
                            <td>
                                <%= tweet.place.name %>
                            </td>
                            <td align="center">
                                <div>
                                    <select onchange="goToTweet(this.options(this.selectedIndex).value)">
                                        <option selected>Select...</option>
                                        <option value="<%= tweet.uri %>">Reply</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </table>   
            <% end %>
        <% end %>
        <br />
    <%= erb :footer %>